<!-- components/tipos/TiposColaboraciones.html -->
<div class="section">
    <div class="container">
        <div class="section-cards grid-3-columns" id="card-donar-dinero">
            <div class="section-card">
                <span></span>
                <h2>Donar dinero</h2>
                <p>Realiza una contribución monetaria para las personas que más lo necesitan.</p>
            </div>
            <div class="section-card" id="card-heladera">
                <span></span>
                <h2>Hacerse cargo de una heladera</h2>
                <p>Comprométete a mantener una heladera comunitaria abastecida con alimentos.</p>
            </div>
            <div class="section-card" id="card-donar-vianda">
                <span></span>
                <h2>Donar vianda</h2>
                <p>Puedes donar alimentos preparados que serán distribuidos a personas en situación de vulnerabilidad.</p>
            </div>
            <div class="section-card" id="card-distribuir-vianda">
                <span></span>
                <h2>Distribuir vianda</h2>
                <p>Únete a nuestro equipo de voluntarios para ayudar en la entrega de viandas a diversas comunidades.</p>
            </div>
        </div>
    </div>
</div>